<br><br><br><br><h1>Distance: {{record.distance}} [{{record.id}}]</h1><br>
<ul class="list-group">
    <li><strong>Record holder: </strong>{{record.first_name}} {{record.last_name}}</li>
    <li><strong>Time: </strong>{{record.time}}</li>
    <li><strong>Location: </strong>{{record.location}}</li>
    <li><strong>Year: </strong>{{record.year}} </li>
</ul>
<a class="btn btn-primary" href="/">Back</a>